<!-- <div class="mb-2" style="display: flex; justify-content: space-between; font-size: 12px;">
  <div style="display: flex; flex-direction: column; gap: 4px">
    <div class="word-wrap">
      Bill to:
      <strong
        ><%= customerUser.firstName %> <%= customerUser.lastName %></strong
      >
    </div>
    <div>Phone: <strong><%= customerUser.phoneNumber %></strong></div>
  </div>
  <% if(pet) { %>
    <div>
  <div>
    <div class="word-wrap">
      Pet name:
      <strong><%= pet?.petName %> </strong>
    </div>
  </div>
  <div>
    <div class="word-wrap">
      Pet no.:
      <strong><%= pet?.petNumber %> </strong>
    </div>
  </div>
</div>
  <% } %>

</div> -->

<div
  class="mb-2"
  style="display: flex; justify-content: space-between; font-size: 12px"
>
  <div style="display: flex; flex-direction: column; gap: 4px">
    <div class="word-wrap">
      Bill to:
      <strong>
        <% if(customerUser?.firstName && customerUser?.lastName) { %> <%=
        customerUser.firstName %> <%= customerUser.lastName %> <% } else { %>
        N/A <% } %>
      </strong>
    </div>
    <div>
      Phone:
      <strong>
        <% if(customerUser?.phoneNumber) { %> <%= customerUser.phoneNumber %> <%
        } else { %> N/A <% } %>
      </strong>
    </div>
  </div>

  <% if(pet) { %>
  <div>
    <div class="word-wrap">
      Pet name:
      <strong>
        <% if(pet?.petName) { %> <%= pet.petName %> <% } else { %> N/A <% } %>
      </strong>
    </div>
    <div class="word-wrap">
      Pet no.:
      <strong>
        <% if(pet?.petNumber) { %> <%= pet.petNumber %> <% } else { %> N/A <% }
        %>
      </strong>
    </div>
  </div>
  <% } %>
</div>
