<%
  const toNumber = value => {
    const parsed = Number(value);
    return Number.isFinite(parsed) ? parsed : 0;
  };
  const toFixedAmount = value => toNumber(value).toFixed(2);

  const subTotalValue = toNumber(subTotal);
  const discountValue = toNumber(totalDiscountAmount);
  const roundOffValue = toNumber(roundOffAmount);
  const writeOffValue = toNumber(totalWriteOffAmount);
  const paidValue = toNumber(totalAmountPaid);
  const creditsValue = toNumber(creditsApplied);
%>

<div style="display: flex; flex-direction: column; gap:8px; margin: 8px 0px; border-top: 1px solid black; padding: 16px 0px 0px 0px">


  <div class="item-row">
    <div>Subtotal:</div>
    <div><%= currencySymbol %> <%= subTotal ? toFixedAmount(subTotal) : 'N/A' %></div>
  </div>

  <% if (discountValue > 0) { %>
  <div class="item-row" style="color: red">
    <div>Additional Discount:</div>
    <div>
      <span style="font-size: 8px; vertical-align: middle">
        <% const disPer = (discountValue * 100 ) / (subTotalValue || 1) %> (<%= disPer.toFixed(2)
        %>%)
      </span>
    <%= currencySymbol %> <%= totalDiscountAmount ? toFixedAmount(totalDiscountAmount) : 'N/A' %>
    </div>
  </div>
  <% } %> <% if(taxes && taxes.length > 0) { %> <% taxes.forEach(tax => { %>
  <div class="item-row">
    <div>
      <% if(tax?.code && tax?.totalTaxableAmount && tax?.taxRate) { %> <%= tax.code %> on <%= tax.totalTaxableAmount %>
      @ <%= tax.taxRate %>%: <% } else { %> Invalid Tax Data <% } %>
    </div>
    <div><%= currencySymbol %> <%= tax?.totalTaxAmount ? toFixedAmount(tax.totalTaxAmount) : 'N/A' %></div>
  </div>
  <% }) %> <% } %>

  <div class="item-row">
    <div>Total:</div>
    <div>
     <%= currencySymbol %>  <%= subTotal && totalDiscountAmount ? (subTotalValue - discountValue).toFixed(2) : 'N/A' %>
    </div>
  </div>

  <% if (Math.abs(roundOffValue) > 0) { %>
  <div class="item-row">
    <div>Round Off:</div>
    <div><%= currencySymbol %> <%= roundOffAmount ? Math.abs(roundOffValue).toFixed(2) : 'N/A' %></div>
  </div>
  <% } %> <% if (totalWriteOffAmount && writeOffValue > 0) { %>
  <div class="item-row">
    <div style="color: red">Write Off :</div>
    <div style="color: red">- <%= currencySymbol %> <%= toFixedAmount(totalWriteOffAmount) %></div>
  </div>
  <% } %> <% if(totalAmountPaid && paidValue > 0 ) { %>
  <div class="item-row">
    <div style="color: red">Total Amount Paid:</div>
    <div style="color: red">- <%= currencySymbol %> <%= toFixedAmount(totalAmountPaid) %></div>
  </div>
  <% } %> <% if (creditsApplied && creditsValue > 0) { %>
  <div class="item-row">
    <div style="color: red">Credits Applied :</div>
    <div style="color: red">- <%= currencySymbol %> <%= toFixedAmount(creditsApplied) %></div>
  </div>
  <% } %>

  <div
    class="item-row bold"
    style="font-size:14px;padding: 12px 0px 0px 0px; border-top: 1px solid #E6E6E6;"
  >
    <div>Payable:</div>
    <div><%= currencySymbol %> <%= amountPayable ? amountPayable : 'N/A' %></div>
  </div>

   <div
    class="item-row"
     style="display: flex; justify-content: flex-end; font-size:8px; font-weight: 400; margin: 6px 0px; padding: 0px 0px 10px 0px; border-bottom: 1px solid; "
  >
  <span style="max-width: 80%; direction:rtl"><%= totalInWords %></span>
  </div>

  <% if (comments) { %>
  <div style=" font-size:8px; line-height:12px ">
    <div style="font-weight: 600; margin-bottom: 4px; text-align: center; ">Consultation Notes:</div>
    <div style="text-align: center; font-style: italic; letter-spacing: 0.5px;"><%= comments %></div>

  </div>
  <% } %>


     
</div>
