<style>
  .descriptionContainer {
    font-size: 12px;
    color: #000000
  }

  .chief-complaints-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 0px 10px 0px;
    color: #000000
  }

  .complaints-table {
    border-collapse: collapse;
    width: 100%;
  }

  .complaints-header {
    display: flex;
    color: #666666;
    font-size: 12px;
    font-weight: 600;
    border-bottom:1px solid #d6d6d6;
  }

  .complaints-header .col-index {
    flex: 0.1;
    padding: 8px;
    margin: 0px 5px 0px 0px;
  }

  .complaints-header .col-symptom {
    flex: 1;
    padding: 8px;
    margin: 0px 5px 0px 0px;
  }

  .complaints-header .col-count {
    flex: 0.6;
    padding: 8px;
    margin: 0px 5px 0px 0px;
    text-align: left;
  }

  .complaints-header .col-date {
    flex: 1;
    padding: 8px;
    margin: 0px 5px 0px 10px;
    text-align: left;
  }

  .complaints-row {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    border-bottom:1px solid #d6d6d6;
  }

  .complaints-row:last-child {
    border-bottom: none;
  }

  .complaints-row .col-index {
    flex: 0.1;
    padding: 8px;
    margin: 0px 5px 0px 0px;
  }

  .complaints-row .col-symptom,
  .complaints-row .col-count,
  .complaints-row .col-date {
    flex: 1;
    padding: 8px;
    background-color: #ffff;
    margin: 0px 5px 0px 0px;
  }

  .complaints-row .col-count{
    flex: 0.6;
    margin: 0px 5px 0px 0px;
  }

  .complaints-row .col-count,
  .complaints-row .col-date {
    text-align: left;
  }


</style>

<div class="chief-complaints-container">
  <% if (description) { %>
  <div class="descriptionContainer"><%= description %></div>
  <% } %>
  <% if (complaintEntries && complaintEntries.length > 0) { %>
  <div class="complaints-table">
    <div class="complaints-header">
      <div class="col-index">#</div>
      <div class="col-symptom">Symptom</div>
      <div class="col-count">Count</div>
      <div class="col-date">Date</div>
    </div>
    <% complaintEntries.forEach((entry, index) => { %>
    <div class="complaints-row no-page-break">
      <div class="col-index <%= index === 0 ? 'row-first' : '' %> <%= index === complaintEntries.length - 1 ? 'row-last' : '' %>">
        <%= index + 1 %>
      </div>
      <div class="col-symptom <%= index === 0 ? 'row-first' : '' %> <%= index === complaintEntries.length - 1 ? 'row-last' : '' %>">
        <%= entry.comment %>
      </div>
      <div class="col-count <%= index === 0 ? 'row-first' : '' %> <%= index === complaintEntries.length - 1 ? 'row-last' : '' %>">
        <%= entry.count || "-" %>
      </div>
      <div class="col-date <%= index === 0 ? 'row-first' : '' %> <%= index === complaintEntries.length - 1 ? 'row-last' : '' %>">
        <% if(entry.date){ %> <%= new Date(entry.date).toLocaleDateString() %> <% } else { %> - <% } %>
      </div>
    </div>
    <% }) %>
  </div>
  <% } %>
</div>
