<style>
.followUpSubWrapper{
    margin: 0px 0px 10px 0px;
    color: #000000;
}

  .follow-up-table {
    border-collapse: collapse;
    width: 100%;
  }

  .follow-up-header {
    display: flex;
    color: #666666;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #d6d6d6;
  }

  .follow-up-header .col-index {
     flex: 0.08;
    padding: 8px;
    margin: 0px 5px 0px 0px;
  }

  .follow-up-row .col-index {
    flex: 0.08;
    padding: 8px;
    margin: 0px 5px 0px 0px;
  }

  .follow-up-header .col-type,
  .follow-up-row .col-type {
    flex: 0.3;
    padding: 8px;
    margin: 0px 5px 0px 0px;
  }

  .follow-up-header .col-date,
  .follow-up-row .col-date {
    flex: 0.8;
    padding: 8px;
    margin: 0px 5px 0px 0px;
  }

  .follow-up-header .col-times,
  .follow-up-row .col-times {
    flex: 0.1;
    padding: 8px;
    margin: 0px 5px 0px 0px;
    text-align: center;
  }

  .follow-up-header .col-reason,
  .follow-up-row .col-reason {
    flex: 0.6;
    padding: 8px;
    margin: 0px 5px 0px 0px;
  }

  .follow-up-header .col-instructions,
  .follow-up-row .col-instructions {
    flex: 1;
    padding: 8px;
    margin: 0px 5px 0px 0px;
  }

  .follow-up-row {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #d6d6d6;
  }

  .follow-up-row:last-child {
    border-bottom: none;
  }

</style>

<div class="followUpSubWrapper ">
  <% if (data.items.length > 0) { %>
  <div class="follow-up-table">
    <div class="follow-up-header no-page-break">
      <div class="col-index">#</div>
      <div class="col-type">Type</div>
      <div class="col-date">Date & Time</div>
      <div class="col-times">Times</div>
      <div class="col-reason">Reason</div>
      <div class="col-instructions">Instruction</div>
    </div>

    <% data.items.forEach((entry, index) => { %>
    <div class="follow-up-row no-page-break">
      <div class="col-index"><%= index + 1 %></div>
      <div class="col-type">
        <% if (entry.followUpType && entry.followUpType === 'FOLLOW_UP') { %> Follow Up <% } else { %> Next Visit <% }%>
      </div>
      <div class="col-date">
        <%  const date = new Date(createdAt);
               const formattedDate = date.toLocaleDateString('en-uk', { day: 'numeric', month: 'short', year: 'numeric' });
               const formattedTime = date.toLocaleTimeString('en-uk', { hour: '2-digit', minute: '2-digit', hour12: true });
            %>
            <%= formattedDate %> , <%= formattedTime %>
      </div>
      <div class="col-times">
        <%= entry.followUpTimes %>
      </div>
      <div class="col-reason">
        <%= entry.followUpReason || '-' %>
      </div>
      <div class="col-instructions">
        <%= entry.instructions || '-' %>
        </div>
    </div>
    <% }) %>
  </div>
  <% } %>
</div>
