<style>

  .examination-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 0px 10px 0px;
    color: #000000;
  }

  .examination-description {
    font-size: 12px;
    color: #000000;
  }
  
  .vital-group {
    font-size: 12px;
    color: #000000;
  }

  .vitals-table {
    border-collapse: collapse;
    width: 100%;
  }

  .vitals-header {
    display: flex;
    color: #666666;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #d6d6d6;
  }

  .vitals-header .col-index {
    flex: 0.1;
    padding: 8px;
    margin: 0px 5px 0px 0px;
  }

  .vitals-header .col-vital-type {
    flex: 1;
    padding: 8px;
    margin: 0px 5px 0px 0px;
  }

  .vitals-header .col-value {
    flex: 1;
    padding: 8px;
    margin: 0px 5px 0px 0px;
  }

  .vitals-row {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #d6d6d6;
  }

  .vitals-row:last-child {
    border-bottom: none;
  }

  .vitals-row .col-index {
    flex: 0.1;
    padding: 8px;
    background-color: #ffff;
    margin: 0px 5px 0px 0px;
  }

  .vitals-row .col-vital-type {
    flex:1;
    padding: 8px;
    background-color: #ffff;
    margin: 0px 5px 0px 0px;
  }

  .vitals-row .col-value {
    flex: 1;
    padding: 8px;
    background-color: #ffff;
    margin: 0px 5px 0px 0px;
  }
</style>

<div class="examinationSubWrapper examination-container">
  <% if (vitalGroup) { %>
  <div class="vital-group">
    <p style="margin: 0px; font-weight: 400;"><span style="font-weight: 600;"> Vital Group - </span> <%= vitalGroup.charAt(0).toUpperCase() + vitalGroup.slice(1).toLowerCase().replace(/_/g, ' '); %></p>
  </div>
  <% } %>

  <% if(description) { %>
  <div class="examination-description"><%= description %></div>
  <% } %>

  <% if (vitals.length > 0) { %>
  <div class="vitals-table">
    <div class="vitals-header">
      <div class="col-index">#</div>
      <div class="col-vital-type">Vital Type</div>
      <div class="col-value">Value</div>
    </div>
    <% vitals.forEach((entry, index) => { %>
    <div class="vitals-row no-page-break ">
      <div class="col-index"><%= index + 1 %></div>
      <div class="col-vital-type"><%= entry.vitalTypeName %></div>
      <div class="col-value"><%= entry.vitalName || entry.customVitalValue %></div>
    </div>
    <% }) %>
  </div>
  <% } %>
</div>
