<!-- layout.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <!-- <title>Tax Invoice - <%= organization.organizationName %></title> -->
    <style>
      /* @page {
        size: A4;
        margin: 0;
      } */
      @media print {
        .no-page-break {
          page-break-inside: avoid;
          break-inside: avoid;
        }
      }
      body {
        margin: 0;
        padding: 0;
        font-family: Inter, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
        font-size: 14px;
      }
      .invoice-container {
        width: 595px;
        padding: 40px 40px;
        margin: 0;
        background: white;
      }
      .amount-summary {
        padding: 20px 0px;
        min-width: 300px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        
      }
    
    </style>
  </head>
  <body>
    <div class="invoice-container">
      <%- include('./components/header') %> <%-
      include('./components/customer-details') %> <%-
      include('./components/items-table') %> <%- include('./components/summary')
      %>
      

    </div>
  </body>
</html>
