<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>PDF Template</title>
    <style>
      @media print {
        .no-page-break {
          page-break-inside: avoid;
          break-inside: avoid;
        }
      }
      body {
        font-family: Inter, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
        font-style: normal;
        margin: 10px 0px;
        color: #424242;
      }

      .thankYouContainer{
        text-align: center;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <div class="mainA4">
      <% function formatDate(date) { if (!date) return ''; const d = new Date(date);
      if (isNaN(d.getTime())) return ''; const day = String(d.getDate()).padStart(2,
      '0'); const month = String(d.getMonth() + 1).padStart(2, '0'); const year =
      d.getFullYear(); return `${day}-${month}-${year}`; } %> 


          <%- include('../PrescriptionTemplates/components/customerDetails/customerDetails.ejs') %>
          
          <%- include('./views/title.ejs') %>


            <% let petDetailsRendered = false; %> <% items.forEach((item) => { %> <%
            if (item.type === "CHIEF_COMPLAINT" || item.type === "EXAMINATION" || item.type === "INVESTIGATION" || item.type === "MEDICATION" || item.type === "TENTATIVE_DIAGNOSIS_AND_PROGNOSIS" || item.type === "FOLLOW_UP" || item.type === "ADVICE" || petDetails) { %>

           <% if (item.type === "CHIEF_COMPLAINT" && (item.data.description
             || (item.data.complaintEntries && item.data.complaintEntries.length > 0) )) { %>
      
            <%-
            include('./components/ViewTitle/viewTitle',{title:'Chief_Complaints',symbol:'C/C',color:'#c1d4fc'})
            %> <%- include('./views/chiefComplaints',item.data) %>
          
          <% } %>

          <% if (item.type === "EXAMINATION" && (item.data.description ||
          item.data.vitalGroup || item.data.vitals.length >0 )) { %>
      
            <%-
            include('./components/ViewTitle/viewTitle',{title:'On_Examination',symbol:'O/E',color:'#abf6b1'})
            %> <%- include('./views/onExamination',item.data) %>
   



          <% } %> <% if (item.type === "INVESTIGATION" && item.data.items.length >0) {
          %>
      
            <%-
            include('./components/ViewTitle/viewTitle',{title:'Investigation',symbol:'I',color:'#d6d0fe'})
            %> <%- include('./views/investigation',item.data) %>
          <% } %>


          <% if (item.type === "MEDICATION" &&( item.data.items.length > 0 ||
          item.data.description)) { %>
            <%-
            include('./components/ViewTitle/viewTitle',{title:'Treatment',symbol:'Rx',color:'#f5d1ff'})
            %> <%- include('./views/medication',item.data) %>
          <% } %>


          <% if (item.type === "TENTATIVE_DIAGNOSIS_AND_PROGNOSIS" &&
          (item.data.tentativeDiagnosis || item.data.prognosis) ) { %>
            <%-
            include('./components/ViewTitle/viewTitle',{title:'Diagnosis_And_Prognosis',symbol:'TDx',color:'#c1d4fe'})
            %> <%- include('./views/tentativeDiagnosis',item.data) %>
          <% } %>


          <% if ( item.type==='FOLLOW_UP' && item.data.items.length >0) { %>
            <%-
            include('./components/ViewTitle/viewTitle',{title:'FollowUps',symbol:'F/U',color:'#d6d0ff'})
            %> <%- include('./views/followUp',item) %>
          <% } %>


          <% if ( item.type==='ADVICE' && item.data) { %>
            <%-
            include('./components/ViewTitle/viewTitle',{title:'Advice',symbol:'A',color:'#abf6b1'})
            %> <%- include('./views/advice',item.data) %>
          <% } %>
 

          <% } %>


          <% }) %>
        </div>







      </div>




      <!-- Thank you section -->
      <div class="thankYouContainer">
        <p><strong>Thank you</strong></p>
        <% if(organization && organization.thankYouMessage) { %>
        <p>
          <%= organization.thankYouMessage || '' %>
        </p>
        <% } %>
      </div>

      <!-- Doctor signature -->
      <%- include('../PrescriptionTemplates/components/signature/signature.ejs') %>

      </div>
    </div>
      </div>
    </div>
  </body>
</html>
