<!-- items-table.ejs -->
<table>
  <thead style="border-top-left-radius: 10px; border-top-right-radius: 10px">
    <tr>
      <th style="border-start-start-radius: 10px">Item</th>
      <th style="text-align: right">Qty</th>
      <th style="text-align: right">Unit Price ( ₹ )</th>
      <th style="text-align: right">Discount ( ₹ )</th>
      <th style="text-align: right; border-top-right-radius: 10px">
        Amount ( ₹ )
      </th>
    </tr>
  </thead>
  <tbody>
    <% lineItems.forEach(function(item) { %>
    <tr>
      <td>
        <div style="font-weight: 500; max-width: 300px">
          <%= item.itemName %> <% if(item.tax && item.tax.length > 0) { %>
          <div style="font-size: 12px; color: #999">
            Tax @ <% const totalTaxPercent = item.tax.reduce((sum, tax) => sum +
            Number(tax.percent), 0).toFixed(2); %> <%= totalTaxPercent %>%
          </div>

          <% } %>
        </div>
        <div style="color: #666; font-size: 0.9em">
          <%= item.categoryName %>
        </div>
      </td>
      <td style="text-align: right"><%= item.quantity %></td>
      <td style="text-align: right">
        <%= Number(item.subTotal) / Number(item.quantity)||1 %>
        <!-- <%= Number(item.unitPrice) %> -->
      </td>
      <td style="text-align: right; color: red">
        <%= parseFloat(item.discount.discountValue).toFixed(2) %>
      </td>
      <td style="text-align: right">
        <%= parseFloat(item.lineItemTotalAmount).toFixed(2) %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
