<!-- summary.ejs -->

<div
  class="no-page-break"
  style="
    display: flex;
    justify-content: 'space-between';
    margin-top: 10px;
    gap: 30px;
  "
>
  <% if(comments) { %>
  <div style="max-width: 400px">
    <h4 style="margin: 0 0 10px 0"><strong>Customer Notes:</strong></h4>
    <span><%= comments %></span>
  </div>
  <% } %>

  <div class="amount-summary">
    <% if (subTotal) { %>
    <div style="display: flex; justify-content: space-between; padding: 8px 0">
      <span>Subtotal (₹):</span>
      <span><%= parseFloat(subTotal).toFixed(2) %></span>
    </div>
    <% } %> <% if (totalDiscountAmount) { %>
    <div
      style="
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        color: red;
      "
    >
      <span>Discount (₹):</span>
      <span>-<%= parseFloat(totalDiscountAmount).toFixed(2) %></span>
    </div>
    <% } %> <% if(taxes && taxes.length > 0) { %> <% taxes.forEach(function(tax)
    { %>
    <div style="display: flex; justify-content: space-between; padding: 8px 0">
      <span>
        <%= tax.code %> on <%=tax?.totalTaxableAmount %> @ <%= tax.taxRate
        %>%:</span
      >
      <span>₹ <%= parseFloat(tax.totalTaxAmount).toFixed(2) %></span>
    </div>
    <% }); %> <% } %> <% if (totalDiscountAmount ||subTotal ) { %>
    <div style="display: flex; justify-content: space-between; padding: 8px 0">
      <span>Total (₹):</span>
      <span
        ><%= (Number(subTotal|| 0) - Number(totalDiscountAmount ||
        0).toFixed(2)) %></span
      >
    </div>
    <% } %> <% if( roundOffAmount && Math.abs(roundOffAmount) > 0) { %>
    <div style="display: flex; justify-content: space-between; padding: 8px 0">
      <span>Round Off (₹):</span>
      <span><%= parseFloat(roundOffAmount).toFixed(2) %></span>
    </div>
    <% } %> <% if (amountPayable) { %>
    <div
      style="
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
        border-top: 1px solid #e5e7eb;
        font-weight: bold;
      "
    >
      <span>Payable (₹):</span>
      <span><%= parseFloat(amountPayable).toFixed(2) %></span>
    </div>

    <% } %>
  </div>
</div>
